.header {
    min-height:48px;
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: lightseagreen;
    padding-left: 0.5em;
    padding-right: 0.5em;
    box-sizing: border-box;
}

.header p {
    margin-top: 0;
    margin-bottom: 0;
}

.header > * {
    margin-left: 0.5em;
    margin-right: 0.5em;
}